/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background styling */
body {
    background-color: #333333;
    color: #f9ba5b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Container for content */
.container {
    max-width: 600px;
}

/* Logo styling */
.logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Salon name styling */
h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* Coming soon text styling */
.coming-soon-text {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #ffffff;
    font-style: italic;
}

/* Initially hide all language spans */
.coming-soon-text span {
    display: none;
}

.countdown {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #f9ba5b;
    letter-spacing: 1px;
}


.snowflake {
    position: fixed;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    animation-name: snowfall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(-10vh) translateX(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) translateX(20px) rotate(360deg);
    }
}