name: Deploy to cut-by-me.de

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete
          path: ./
          remote_path: /var/www/html/cut-by-me.de/public_html/
          remote_host: 87.106.40.134
          remote_user: igor
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
